<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giving Tree</title>
    <link rel="stylesheet" type="text/css" href="../styles/normalize.css">
    <link rel="stylesheet" type="text/css" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/form.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dancing Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Literata">
</head>

<body>
    <header>
        <h1>
            <div class="cursive">Donate</div>
            <div class="capital-font"> TO THE </div>
            <div class="type-font">GIVING TREE</div>
        </h1>
    </header>
    <main>
    <section class="card">
      <h2>Gift Information</h2>
      if img
        img(src=`/images/${img}`, alt=`Gift ${id}`, width="100px", class="img")
      if desc
        h3 What this Kid is Hoping For: 
        p #{desc}
      if suggest_price
        h3 Suggested Donation Amount: 
        p #{suggest_price}
      if url
        h3 An example of what the Child is hoping for: 
        p #{url}
      </section>

      <form action="thankyou.html" method="post">
            <fieldset>
                <legend>Claim this Gift</legend>
                <label class="top" for="commit_price">Donation Amount:* <input type="number" name="commit_price" min=0, step="any" required></label>
                <label class="top" for="url">URL to Gift: <input type="url" id="url" name="url"></label>
                <label class="top" for="delivery_msg">Message to the Friend You're Sponsoring: <br> <textarea name="delivery_msg" cols="70" rows="10"></textarea></label>
                <label class="top" for="email">venmo* <input type="venmo" id="venmo" name="venmo" required placeholder="Put your Venmo Here" ></label>
            </fieldset>
            <button type="submit" value="Claim" class="submitBtn" id="">Sponsor Kid</button>
            
      </form>

      <div class="donate-btns">
        <ul>
          <li>
              a(href = `${nextUrl}`, class="button") Pick a Different Gift!
              <a href="/" ></a>
          </li>
          <li>
              <a href="/contribute/" class="button">Donate Directly</a>
          </li>
        </ul>
        </div>
    </main>
</body>
<footer>
</footer>

</html>
