<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giving Tree</title>
    <link rel="stylesheet" type="text/css" href="../styles/normalize.css">
    <link rel="stylesheet" type="text/css" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/form.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dancing Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Literata">
    <link rel="icon" type="image/png" href="../images/favicon.png">

</head>

<body>
    <header>
        <p class="venmo">Venmo: <a href="https://venmo.com/u/givingtree_jalynn" target="_blank">@givingtree_jalynn</a></p>

        <a href="/" class="banner-link">
          <h1>
              <div class="cursive">Take a Name</div>
              <div class="capital-font"> FROM THE </div>
              <div class="type-font">GIVING TREE</div>
          </h1>
        </a>
    </header>
    <main>
    <section class="card donation-info">
      <h2>Our Friend’s Need</h2>
      if title
        h3 #{title}

      if img
        img(src=`/images/${img}`, alt=`Gift ${id}`, width="100px", class="center")

      if desc
        p #{desc}

      if age || gender || sob_story
        h4 Recipient
      if age && gender
        p #{age} #{gender}
      else if gender
        p #{gender}
      else if age
        p #{age}
      if sob_story
        p #{sob_story}

      if suggest_price
        h4 Suggested Donation
        if max_suggest_price
          p $#{suggest_price} - $#{max_suggest_price}
        else
          p $#{suggest_price}


      if suggest_url
        a(href = `${suggest_url}`, class="reset", target="_blank")
          img(src=`/images/amazon.webp`, width="280px", class="center")
      </section>

      <form method="post">
            <fieldset>
                <legend>Claim this Gift</legend>
                <p class="formmsg"><strong class = "red">Important!</strong> - Provide an <i>Amazon link</i> to the gift you want to be purchased with your donation. This allows us to purchase the gift you wish, while protecting the anonymity of the recipient.</p>
                //-https://stackoverflow.com/questions/17891714/how-to-create-a-dollar-amount-input-field-in-an-html-form
                <label class="top" for="commit_price">Donation Amount* <input class="donation-amount" type="number" name="commit_price" min=0, step="any" placeholder="The Amazon list price (e.g. $49.99)" required></label>
                <label class="top" for="url">Link to the Gift on Amazon <input type="url" id="url" name="url" placeholder="https://www.amazon.com/your-gift" pattern="https?:\/\/(?=(?:....)?amazon|smile)(www|smile)\S+com(((?:\/(?:dp|gp)\/([A-Z0-9]+))?\S*[?&]?(?:tag=))?\S*?)(?:#)?(\w*?-\w{2})?(\S*)(#?\S*)+"></label>
                <label class="top" for="delivery_msg">Gift Note <br> <textarea name="delivery_msg" cols="70" rows="10" placeholder="Enter a short message to the friend you're sponsoring here."></textarea></label>
                <label class="top form-venmo" for="venmo">Your Venmo Account*  <span>(We will Venmo request you)</span> <input type="venmo" id="venmo" name="venmo" required placeholder="@your_venmo" ></label>
                //- <p class="formmsg"> We will make a Venmo request to your account and arrange for delivery.</p>
            </fieldset>
            <button type="submit" value="Claim" class="submitBtn center" id="">Sponsor our Friend</button>
      </form>

      <div class="donate-btns">
        <ul>
          <li>
              a(href = `${nextUrl}`, class="button") Pick a<br>Different Gift!
          </li>
          <li>
              <a href="/contribute/" class="button">Donate<br>Directly</a>
          </li>
        </ul>
        </div>
    </main>
    <footer>
        <div class="footer-lower">
            <div>“I have shewed you all things, how that so labouring ye ought to support the weak, and to remember the words of the Lord Jesus, how he said, It is more blessed to give than to receive.”<strong>Acts 20:35</strong>
            </div>
        </div>
        <div class="footer-upper">
            <div>
                <a href="https://instagram.com/jalynn.wightman?igshid=NzZlODBkYWE4Ng==" target="_blank"><img src="../images/instagram.svg" width=40px></a>
                <a href="https://venmo.com/u/givingtree_jalynn" target="_blank"><img src="../images/venmo.svg" width=40px></a>
                <a href="mailto:JaLynn.Wightman@icloud.com">Contact Us</a>
                <a href="https://www.instagram.com/s/aGlnaGxpZ2h0OjE4MjQ4MDA5MjU0MjI5MjM5?igshid=ODhhZWM5NmIwOQ==" target="_blank">My Story</a>
            </div>
        </div>
    </footer>
</body>
</html>
